.banner {
  margin: 0;
  padding: 0;
}
.pricing-header {
  max-width: 700px;
}
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}
